footer {
  height: 200px;
  background-color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer_content {
  height: 150px;
  display: flex;
  align-items: center;
}

.footer_bottom {
  height: 50px;
  background-color: green;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
