.card {
  height: 300px;
  width: 300px;
  background-color: aqua;
  cursor: pointer;
}

.card:hover {
  background-color: black;
  color: white;
}

.card_image {
  height: 200px;
}

.card_description {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
}
