.signup {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-last-name{
  gap: 10px;
}

.form-line{
  padding: 10px 0;
  flex-wrap: wrap;
}

input {
  border-radius: 10px;
  border: none;
  flex: 1;
  height: 40px;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: aqua;
  border: none;
  margin-top: 10px;
  width: 50%;
}

@media screen and (max-width:550px) {
  .form-container{
    width: 95%;
  }
}
